language: ruby
rvm:
  - 2.1
  - 2.2
  - 2.3
  - 2.4.0
before_install:
  - gem install bundler
install:
  - bundle install --jobs=3 --retry=3
script:
  - bundle exec rake
  - bundle exec appraisal install
  - bundle exec rake appraisal
